@media (max-width:1200px) {
    .blog-title {
        font-size: 18px;
        line-height: 24px;
    }

    .sub-form {
        padding: 0 15px;
    }

}

@media (max-width:1024px) {
    .content__container {
        display: block;
    }

    .posts {
        margin-bottom: 50px;
    }

    .popular-posts__list {
        display: flex;
        justify-content: space-between;
    }

    .popular-posts__item  {
        flex-grow: 1;
        max-width: 30%;
    }

    .popular-posts__article {
        border-bottom: 1px solid transparent;
    }

    .sub-form {
        padding: 0 20%;
        display: flex;
    }

    .sub-form__input {
        margin: 0 20px 0 0;
    }

    .contacts {
        padding: 70px 0;
    }
    .contacts__left {
        padding-left: 0;
    }
    .contacts__right {
        padding-right: 0;
    }

}

@media (max-width:768px) {

    .blog-post--main {
        height: auto;
    }

    .post-grid {
        display: block;
    }
    .post-grid__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .popular-posts__list {
        display: block;
    }

    .popular-posts__item {
        max-width: none;
    }

    .nav {
        display: none;
    }

    .sub-form {
        padding: 0 5%;
    }

    .contacts-container {
       display: block;
    } 
    .contacts__left {
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts__right {
        width: 100%;
        
    }

}

@media (max-width:375px) {
    .sub-form {
        padding: 0;
        display: block;
    }
    .sub-form__input {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contacts-form-wrapper {
        padding: 30px;
    }
}